<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="director" class="com.example.factorymethod.EmployeeFactory"
          factory-method="createEmployeeOfType">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="firstName" value="Daniyar"/>
        <constructor-arg name="lastName" value="Myrzakanov"/>
        <constructor-arg name="type" value="director"/>
    </bean>

    <bean id="manager" class="com.example.factorymethod.EmployeeFactory"
          factory-method="createEmployeeOfType">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="firstName" value="Moldir"/>
        <constructor-arg name="lastName" value="Iskakova"/>
        <constructor-arg name="type" value="manager"/>
    </bean>

</beans>